.navbar_container {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
    position: absolute;
    z-index: 1;
    background-color: transparent;
}
  
    .voosh_logo {
      height: 8vw;
      /* //width: 100px; */
    }
    @media (min-width: 992px) {
      .voosh_logo {
        height: 4vw;
      }
    }
  
  