.ReactModal__Content{
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 68%;
    
    
    
}



.modal_pop{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
.modal_pop_user h3{
    /* width: 100%; */
    background-color: rgb(165, 245, 165);
    padding: 20px;
    border-radius: 15px;

}
.modal_pop_user button{
    padding: 20px;
    cursor: pointer;
    color: white;
    background-color: rgb(86, 88, 86);
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 800;
}
.mod{
    border-radius: 20px;
    border: 0px solid rgb(216, 216, 216);
    box-shadow: 10px 15px 10px #5b5b5b;
    margin-top: 20vh;
    background-color: rgb(219, 227, 234);
    outline: none;
}